main {
  width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
}

.left-block {
  width: 1000px;
  height: 600px;
}

.right-block {
  width: 200px;
  height: 600px;
  border-left: 1px solid blue;
}

.buttons {
  margin-top: 15px;
}

.buttons button {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-width: 2px;
  border-color: #fe8800;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
  color: #fff;
  background-color: #fe8800;
  margin-bottom: 15px;
}

.buttons button:hover {
  color: #000000;
  border-color: #fe8800;
  border: 1px solid #000000;
}

.system-icons {
  width: 75%;
  margin: 0 auto;
}

.system-icons img {
  width: 60px;
  height: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
