
main {
    width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
  }

.left-block {
    width: 1000px;
    height: 500px;
}

.right-block {
    width: 200px;
    height: 500px;
    border-left: 1px solid blue;
}

.buttons {
    padding-top: 10px;
}

.buttons button {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    border-width: 2px;
    border-color: #FE8800;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
    color: #FFF;
    background-color: #FE8800;
    margin-bottom: 10px;
}

.buttons button:hover {
    color: #000000;
    border-color: #FE8800;
    border: 1px solid #000000;
}

#inp {
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 10px;
}
